       .r1,.r2,.r3{
            width: 32%;
            height: auto;
            border: 2px solid black;
            float: left;
            margin: 20px 0 0 0.9%;
            background-color: #ccc;
        }
        #subbox{
            width: 100px;
            height: auto;
            border: 2px solid black;    
            float: right;
            padding: 5px;
            text-align: center;
            font-weight: bold;
            font-family: sans-serif;
            border-top-width: 0;
            border-right-width: 0;
        }
        p{
            margin: 10px;
            margin-top: 40px;
            font-family: calibri;
        }
        .b1{
            background-color: pink;
        }
        .b2{
            background-color:red;
        }
        .b3{
            background-color: yellow;
        }
        h1{
            text-align: center;
            font-family: verdana;
        }
        @media screen and (min-width: 991px){
           
            .r1, .r2{
                width:32%;
            }
            .r3{
                width:32%;
            }  
        }
      
        @media screen and (min-width: 768px) and (max-width: 991px) {
          .r1, .r2{
                width:48%;
            }
            .r3{
                width:96%;
            }  
        }
         @media screen and (max-width: 767px){
           
            .r1, .r2, .r3{
                width:96%;
            }
             
        }
          